header {
  z-index: 900 !important;
  .v-row {
    align-items: center;
  }
  .logo-title-box {
    display: flex;
    align-items: center;
    img {
      height: 45px;
      margin-left: 0.8em;
    }
    .logo-title {
      font-family: $secondaryFont;
      font-size: 1.75em;
      font-weight: bold;
    }
  }
}
.v-navigation-drawer {
  position: fixed !important;
  .v-expansion-panels {
    .v-expansion-panel-title {
      justify-content: center;
      min-height: unset;
      opacity: .62;
      .v-expansion-panel-title__icon {
        margin-inline-start: unset;
      }
      .v-expansion-panel-title__overlay {
        opacity: 0;
      }
    }
    .v-expansion-panel-text {
      a {
        text-decoration: none;
        color: transparentize($color: #000000, $amount: .28);
      }
    }
  }
}
