.contact-form {
    .vue_client_recaptcha {
        height: 56px;
        margin-left: 0.5em;
    }
    .submit-btn {
        background-color: $primaryColor1;
        color: #ffffff;
        &.v-btn--disabled {
            color: transparentize($color: $primaryColor1, $amount: 0.65) !important;
        }
    }
}
