@import "./variables";
.services-container {
    .service {
        display: flex;
        justify-content: center;
        flex-direction: column;
        .service-box {
            background-color: #ffffff;
            padding: 1em;
            border-radius: .5em;
            .img-box {
                width: 100%;
                aspect-ratio: 1;
                overflow: hidden;
                border-radius: 50%;
                max-width: 125px;
                margin: 0 auto 1em;
                display: flex;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}
