$primaryFont: "Roboto", sans-serif;
$secondaryFont: "Raleway", sans-serif;
$thirdFont: Lato, sans-serif;

$sm: 600px;
$md: 964px;
$lg: 1264px;
$xl: 1904px;

$secondaryColor1: #181818;
$secondaryColor2: #666666;
$primaryColor1: #5a0060;

.section {
    width: 100vw;
    padding-bottom: 3em;
    padding-top: 3em;
    overflow-x: hidden;
    &:nth-child(2n + 1) {
        background-color: transparentize($color: $primaryColor1, $amount: 0.95);
    }
}

.section-title {
    text-transform: uppercase;
    text-align: center;
    color: $primaryColor1;
    font-family: $thirdFont;
    font-weight: bold;
    font-size: 2.5em;
    letter-spacing: 3px;
}
.section-subtitle {
    text-transform: uppercase;
    text-align: center;
    color: $secondaryColor2;
    font-family: $secondaryFont;
    font-size: 1em;
    letter-spacing: 0.1em;
}
.primary-btn {
    background-color: $primaryColor1;
    color: #ffffff;
}
.secondary-btn {
    color: $primaryColor1;
    background-color: #ffffff;
}
